#areatrabajo{
	text-align: center;
}
h1{
	border-top: 1px solid;
	transition:0.3s;
	text-transform: uppercase;
	letter-spacing: 5px;
}
h1:hover{
	transform: scale(1.2);
	text-transform: lowercase;
}

.diapositivas{
	border: 1px solid;
	border-color: black;
	margin: 10px;
}
.titulod{
	width: 700px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	border: 0px;
}
.titulod:focus{
	border: 1px solid;
	border-color: gray;
}
.cuerpod{
	border: 0px;
}
.cuerpod:focus{
	border: 1px solid;
	border-color: gray;
}